# Node
node_modules/

# Local / temp
_dump/
.tmp/

# Ignored assets
public/favicon.ico

# Office temp files
~$*.pptx
~$*.docx
~$*.xlsx


docs/*.pptx
docs/~$*.pptx
.wrangler/
.dev.vars

# Environment / secrets
.env
.env.*
.dev.vars